<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">This qui will contain total 10 questions. Eachc question carries 10 points.</p>
    <ol>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect Question gives you -10 points</li>
        <li>Refreshing the page will reset the quiz</li>
    </ol>
    <div class="name col-md-4 3-my">
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control"/>
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz</button>
</div>
