<nav class="navbar bg-dark" data-bs-theme="dark" >
    <div class="container-fluid">
      <a class="navbar-brand text-bold" href="#">
        <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="50" height="24">
        <span class="text-uppercase">ngular Quiz</span>
      </a>
    </div>
  </nav>